// Colores
$color-primary: #a67c52;      // camel oscuro
$color-secondary: #c1a17f;    // camel medio
$color-danger: #dc3545;
$background-light: #fdf3e7;   // beige claro
$text-light: #ffffff;
$text-dark: #3e2f20;          // camel oscuro

// Tipografía y bordes
$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$border-radius: 12px;
